// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//My Style
@import './style/header';
@import './style/main';
@import './style/tags';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenitore-base{
    background-color: rgb(224, 224, 224);
}
.news-container{
    margin-top: 50px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
}
