header{
    background-color: rgb(219, 219, 219);
    .container{
        .row{
            .title{
                text-align: center;
                padding: 20px;
                font-weight: bold;
                color: rgb(36, 36, 36);                 
            }
            .nav-bar{
                display: flex;
                align-items: center;
                justify-content: center;
                .nav-left, .nav-rigth{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: black;
                        li{
                            margin: 0 10px;
                        }
                        &:hover{
                            color: white;
                        }
                    }
                }
                .nav-rigth{
                    justify-content: end;
                    li{
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}